
h1 {
        font-family: 'PoppinsRegular'; 
        font-weight: normal; 
        font-style: normal; 
        color: rgb(34, 34, 70);
}

body { 
    background-color: #F2F6D0;
    margin: 5px;
}

/* .my-button {
    /* background-color:red; */
    /* border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 5px 3px;
    cursor: pointer;
    float: right;   */
    /* margin-right: 1px; */
/* } */

.btn-primary {
    background-color: rgb(34, 34, 70);
    border: rgb(125, 116, 116);
    font-family: 'HankenBook'; 
    font-weight: normal; 
    font-style: normal; 
}

#scrape-bttn:hover {
    background-color: rgb(73, 73, 101);
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 5px 3px;
    cursor: pointer; 
}

#wrapper {
    display: inline-flex;    
    padding-top: 15px;
    width: 100%;
    height: 100%;
}

#articles {
    flex-basis: 70%;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 700px;
}

.article {
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
}

.article-title {
    width: 100%;
    height: 50px;
    background-color: rgb(73, 73, 101);
    color: white;
    font-weight: bold;
    line-height: 50px;
    font-size: 17px;
    padding-left: 5px;
    font-family: 'HankenBook'; 
    font-weight: normal; 
    font-style: normal; 
}

.article-link {
    background-color: #FCF5C7;
    color: gray;
    width: 100%;
    height: 50px;  
    padding-left: 10px;
    line-height: 50px;
}

a:hover{
    text-decoration: none;
    background-color: rgb(210, 196, 210);
}
a {
    color:rgb(34, 34, 70);
    font-family: 'HankenBook'; 
    font-weight: normal; 
    font-style: normal; 
}

#notes {
    flex-basis: 30%;
}

textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}